<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Show Author</title>
</head>
<body>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-6">
      <h2 class="text-center">{{author.name}} favorites</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th># of pages</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for author in authors %}
            <td>{{}}</td>
            <td>{{}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  
</body>
</html>